<html>

<head>
  <title>reCAPTCHA Enterprise v2 Invisible Demo</title>
</head>

<body>
  <table>
    <tbody>
      <tr>
        <td>Score</td>
        <td>
          <%= score %>
        </td>
      </tr>
      <tr>
        <td>Valid</td>
        <td>
          <%= valid %>
        </td>
      </tr>
      <tr>
        <td>invalidReason</td>
        <td>
          <%= invalidReason %>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>